.containerTable {
    width: 80%;
    margin: 50px auto;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

th,
td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #324960;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

tr {
    transition: background-color 0.3s ease;
}
tr:hover {
    background-color: #e1e5ee;
}

button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    opacity: 0.9;
}

button:focus {
    outline: none;
}

.edit-button {
    background-color: #4CAF50;
    color: white;
}

.delete-button {
    background-color: #f44336;
    color: white;
}
.container-formulario {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: auto;
}
.container-formulario h2 {
    text-align: center;
    color: #333;
}
.container-formulario form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.container-formulario label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #555;
}
.container-formulario input[type="text"],
.container-formulario input[type="number"] {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    width: 90%;
}
.checkbox-container {
    display: flex;
    align-items: center;
    font-weight: normal;
}
.checkbox-container input {
    margin-right: 10px;
}
.container-formulario .submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.container-formulario .submit-button:hover {
    background-color: #0056b3;
}
.hidden {
    display: none;
}
#btnToggle{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 5px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    text-decoration: none;
    left: 50;
}