body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1rem;
    border-bottom: 1px solid black;
}

#LogoIUBPrincipal {
    width: 100%;
    height: 100%;
}

.navbar-logo {
    width: 180px;
    height: 45px;
}

.navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-options {
    margin-left: -7rem;
}

.nav-options a {
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

.nav-options a:hover {
    background-color: black;
    color: white;
    border-radius: 4px;
}

/* ----------------------- CONTENIDO PAGE  AP🤓 -------------------------------- */

.contenedor-principal
{
    display: flex;
    background-color: white ;
    font-size: 23px;
    margin-bottom: 40px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    width: 900px;
    pointer-events: none;
    margin-top: 80px;

<<<<<<< HEAD
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.40);
}

.img-principal
{
    width: 440px;
    height: 440px;
}
.marca
{
    font-size: 25px;
    color: #1d1c1c;
    font-weight: bold;
}

.descripcion
{
   padding: 20px;
}
.contenedor-informacion{

     margin-top: 110px
}


/* .contenedor-principal{
=======
.contenedor-principal {
>>>>>>> cambios-rutas
    display: flex;
    /* border: black 1px solid; */
    /* margin-top: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    font-family: 'Times New Roman', Times, serif;
<<<<<<< HEAD
} */
/* .contenedor{
    width:80% ;
=======
}

.contenedor {
    width: 80%;
>>>>>>> cambios-rutas
    height: 80%;
    -webkit-box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.73);
    box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.73);

}


.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    text-align: center;

}

.descripcion {
    margin-top: 80px;
    font-size: 35px;


}

.marca-bs {
    margin-top: 40px;
    font-size: 32px;
    color: #1d1c1c;
    font-weight: bold;
}

/* ---------------- */

<<<<<<< HEAD
/* .contenedor-extra{
=======
.contenedor-extra {
>>>>>>> cambios-rutas
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    height: 100%;
    width: 100%;

}
<<<<<<< HEAD
.subtitle{
        border: 1px dotted black;
        text-align: center;
        color: white;
        background-color: #36465D
} */ 






=======
>>>>>>> cambios-rutas

.subtitle {
    border: 1px dotted black;
    text-align: center;
    color: white;
    background-color: #36465D
}