.footer {
    margin-top: 20px;
    background-color: #d8d6d6;
    color: #3a3252;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-size: 11px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer img {
    width: 110px;
    height: 60px;
}